@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Lobster&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F2F2F2;
    color: #211d1e;
    font-family: "Cinzel", serif;
    font-weight: 400;
    font-style: normal;
}

header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    background: linear-gradient(to right, #464C59, #BABBBF);
}

header img {
    width: 150px;
    height: auto;
    margin-bottom: 20px;
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

nav a {
    margin: 0 5px;
    position: relative;
    background-color: #464C59;
    color: white;
    text-decoration: none;
    padding: 5px 12px;
    border-radius: 10px;
    transition: all 0.5s;
    font-weight: 400;
}

nav a:hover {
    background-color: #F2D479;
    color: #211d1e;
}

#frase-de-efeito {
    color: #464C59;
    font-weight: 60;
    font-size: 1.1rem;
    letter-spacing: 1px;
    text-shadow: 5px 5px 5px #72858C;
    text-align: center;
    padding: 15px;
}

main {
    padding: 20px;
}


.table-responsive {
    width: 100%;
    overflow-x: auto;
    margin: auto;
}

table {
    border-collapse: collapse;
    text-align: center;
    margin: auto;
}

th {
    background-color: #464C59;
    color: white;
    padding: 0.6rem;
}

td {
    background-color: #BABBBF;
    padding: 0.6rem;
}

td a {
    color: black;
    text-decoration: none;
}

td a:hover {
    color: #5D6673;
}

#topo {
    text-align: center;
    padding-top: 20px;
}

#topo a {
    color: #211d1e;
    text-decoration: none;
}

#topo a:hover {
    color: #5D6673;
}

footer {
    background-color: #464C59;
    color: white;
    padding: 20px 0px;
    text-align: center;
}

@media (max-width: 150px) {
    header img {
        width: 100%;
    }
}
