@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Lobster&display=swap');

* {
    text-align: center;
}

body {
    font-family: "Cinzel", serif;
    font-weight: 400;
    font-style: normal;
}

header {
    background: linear-gradient(to right, #72858C, #A68F49);
}

header img {
    width: 150px;
    height: auto;
}

nav a {
    text-decoration: none;
}

p a {
    text-decoration: none;
}

#frase-de-efeito {
    color: #A68F49;
    font-weight: 60;
    font-size: 1.1rem;
    letter-spacing: 2.5px;
    text-shadow: 5px 5px 5px #72858C;
}

